<style>
    .controls {
        width: 15%;
    }

    .abilities {
        display: flex;
        justify-content: space-between;
    }

    .skill {
        height: 100px;
        width: 100px;
        margin: 10px;
        padding: 10px;
    }

    .top-row {
        display: flex;
        justify-content: center;
        margin: 10px;
    }

    .middle-row {
        display: flex;
        justify-content: center;
        margin: 10px;
    }

    .bottom-row {
        display: flex;
        justify-content: center;
        margin: 10px;
    }

    .empty {
    height: 40px;
    width: 40px;
    }

    .arrow {
        height: 75px;
        width: 75px;
    }

</style>

<aside class="controls">
<section class="abilities">
    <span class="skill"><button><img src="/images/Attack.png"></button></span>
    <span class="skill"><button><img src="/images/Double_Swing.png"></button></span>
</section>

<section class="top-row">
    <span class="empty"> </span>
    <span class="arrow"><button><img src="/images/Up.png"></button></span>
    <span class="empty"> </span>
</section>
<section class="middle-row">
    <span class="arrow"><button><img src="/images/Left.png"></button></span>
    <span class="empty"> </span>
    <span class="arrow"><button><img src="/images/Right.png"></button></span>
</section>
<section class="bottom-row">
    <span class="empty"> </span>
    <span class="arrow"><button><img src="/images/Down.png"></button></span>
    <span class="empty"> </span>
</section>

</aside>