<style>
    .stats {
        width: 15%;
    }
</style>

<aside class="stats">
{{!-- some sections here to relate to character, the stats, maybe an image icon --}}
<div>{{user.username}}</div>


<div><img src="/images/{{character.filename}}"></div>

{{!-- <div>{{character.hitpoints}}</div>
<div>{{character.manapoints}}</div> --}}
</aside>