<style>
    .stats {
        width: 15%;
    }
</style>

<aside class="stats">
{{!-- some sections here to relate to character, the stats, maybe an image icon --}}
<div>Maybe username</div>

<div><img src="/images/Mage_P.png"></div>

<div>hitpoints</div>
<div>manapoints</div>
{{!-- Could probably combine this with inventory and skills as well --}}
</aside>