{{!-- Need to adjust size of the map to fit the browser better --}}

<style>
    .row {
        display: flex;
    }

    .square {
        height: 30px;
        width: 30px;
        border: solid 2px black;
    }

    .square.solid {
        background: red;
    }
</style>
<h1>NAME OF YOUR MAP --- {{name}}</h1>
{{#each map}}
<div class="row">
    {{#each cols as |col|}}
    {{#if col.isPath}}
    <span class="square">
        {{#if col.isStart}}
        😜
        {{/if}}
        {{#if col.isExit}}
        🎂
        {{/if}}
        {{#if col.item}}
        {{col.item.icon}}
        {{/if}}
    </span>
    {{else}}
    <span class="square solid"></span>
    {{/if}}
    {{/each}}
</div>
{{/each}}