{{!-- this will be the landing page, probably a body with a description of the game or some fiction written 
    to describe the fantasy. Below we could have a sign up button or a login button, they can lead to modals, 
    if we want to do that. Or redirect to login pages or signup pages (i've created a file for this if we 
    choose to do this). Or, we can set up the form on the landing page below the description. --}}

{{! example for using useless helper function }}
{{!-- <h1>WELCOME TO MY HOME PAGE! {{example_helper}}</h1>
<a href='/otherpage'>GO TO OTHER PAGE</a> --}}


   

