{{!-- this will be the landing page, probably a body with a description of the game or some fiction written 
    to describe the fantasy. Below we could have a sign up button or a login button, they can lead to modals, 
    if we want to do that. Or redirect to login pages or signup pages (i've created a file for this if we 
    choose to do this). Or, we can set up the form on the landing page below the description. --}}

{{! example for using useless helper function }}
{{!-- <h1>WELCOME TO MY HOME PAGE! {{example_helper}}</h1>
<a href='/otherpage'>GO TO OTHER PAGE</a> --}}


<p class="content">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Vel ratione quibusdam commodi, dolor et unde velit inventore consequuntur sapiente? Illo voluptatem tempore corporis libero nostrum eius ea, reiciendis adipisci. A.
    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Sequi commodi cupiditate provident nostrum numquam incidunt ipsum accusantium nesciunt. Esse eum consequatur iusto omnis, debitis praesentium sint facilis culpa ipsam nesciunt?
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Officiis quis eligendi ipsam recusandae architecto cupiditate porro accusantium, tempora culpa molestias consequuntur enim, vero veniam sapiente commodi molestiae quas consequatur distinctio?
    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Cum eos hic officia ab accusantium deleniti, doloribus dolore repudiandae quaerat non natus esse necessitatibus sint beatae laudantium vitae. Magni, explicabo voluptate.
</p>



   

