{{!-- this will be the landing page, probably a body with a description of the game or some fiction written
to describe the fantasy. Below we could have a sign up button or a login button, they can lead to modals,
if we want to do that. Or redirect to login pages or signup pages (i've created a file for this if we
choose to do this). Or, we can set up the form on the landing page below the description. --}}

{{! example for using useless helper function }}
{{!-- <h1>WELCOME TO MY HOME PAGE! {{example_helper}}</h1>
<a href='/otherpage'>GO TO OTHER PAGE</a> --}}

<div class="main-description">
    <p class="content">Welcome to the definitely not-so-final and very-little-fantasy world! Do you like exploring run
        down dungeons that are just built like mazes for no apparent reason and crawling with monsters?
        But you also love treasure and the excitement of exploration? Then you'll enjoy the short adventures cooked up
        here!!! You can select from three main job classes: Warrior, Mage, and Cleric. Each class have
        their own stats and different types of skills. Explore the dungeon, grab loot, and avoid monsters!

    </p>
</div>

<div class="rules-of-the-game">
    <p class="content"></p>

      <ul> <center><h1>Rules of the Game</h1></center>
    
        <li>User first has to either sign up or login in order to play the game. </li>
        <li>Ojective of the game is to move through the maze and finish to the end. </li>
        <li>When the user completes the maze there will be a victory notification, <br/> and the maze continues!</li>

    </ul>

    </p>
</div>