{{!-- we probably dont need this page unless we are separating the login and signup pages, 
    then we can use this page as the signup/login page --}}

<h1>WELCOME TO MY OTHER PAGE!</h1>
<a href='/'>Back to home page</a>