h1 {
    text-align: center;
    color: white;
    
}

.login-card {
    margin: 20px;
    flex: 0 0 20%;
    padding: 30px;
    border: 10px solid white;
    border-radius: 10px;
    border-style:double;
    border-width: thick;
    background-color: #615b41;
    color: white;
    /*font-family: 'Creepster', cursive;
    font-family: 'Roboto', sans-serif;
    font-family: 'VT323', monospace; */
    
  }

  .two-forms {
    display: flex;
    justify-content: center;
    padding: 40px;
    width: 100vw;
  }

  .content, h1 {
    display: flex;
    justify-content: center;
    margin: 20px;
    line-height: 1cm;
    color: white;
    /*font-family: 'Creepster', cursive;
    font-family: 'Roboto', sans-serif;
    font-family: 'VT323', monospace; 
    font-size: 32px;*/
  }

  .nav-link {
    /* font-family: 'Creepster', cursive;
    font-family: 'Roboto', sans-serif;
    font-family: 'VT323', monospace; */ 
    padding-left: 10px;
    margin-left: 5px;
  }

 


  